body {
    width: 70%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: darkolivegreen;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.flex-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 0 auto;
    width: 300px;
    height: 300px;
}

.hidden {
    display: none;
}

.players {
    gap: 15px;
}

.player-div p {
    padding-right: 10px;
}

.player-div input {
    color: darkolivegreen;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding-bottom: 15px;
}

.header button {
    padding: 0.5rem;
    width: 100px;
    border: 1px solid;
    border-radius: 4px;
    background-color: transparent;
    color: darkolivegreen;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.player-div,
.players {
    display: flex;
    align-items: center;
}

.title-div {
    border: 1px dashed;
    border-radius: 4px;
    width: 100%;
    height: 50px;
    font-size: 1.5em;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-item {
    width: 100px;
    height: 100px;
    color: transparent;
    background-color: transparent;
    border-left: none;
    border-top: none;
    font-size: 4em;
}

.flex-item:nth-child(3n) {
    border-right: none;
}

.flex-item:nth-child(n+7) {
    border-bottom: none;
}

.flex-x {
    color: indianred;
}

.flex-o {
    color: deepskyblue;
}